<p id="notice"><%= notice %></p>

<% if session[:logged_in] %>
  <h1>Listing Parent's Email Addresses for TEACHER X</h1>
<% else %>
  <h1>Please enter your email and password</h1>

  <!-- <%= form_for(Teacher.first) do |f| %> -->
  <div class="field">
    <%= f.label :teacher_email %><br>
    <%= f.text_field :teacher_email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


  <%= params %>
  <!-- <%= link_to 'Delete this item', @item, method: :delete, data: { confirm: 'Are you sure?' } %> -->
  <!-- <% end %> -->
<% end %>

<%= form_tag("/t", :method=>"post") do %>
  <%= text_field_tag(:todo_text) %>
  <%= submit_tag("Add todo", :class=>"btn") %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.id %></td>
        <td><%= teacher.parent_name %></td>
        <td><%= teacher.teacher_email %></td>

        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
